@page
@model IndexModel
@{
    ViewData["Title"] = "Product List";
}

<h2 class="mb-4">Product List</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@string.Format("{0:C}", product.Price)</td> <!-- Mostrar precio con formato de moneda -->
                <td>
                    <a class="btn btn-info btn-sm" asp-page="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-secondary btn-sm" asp-page="Details" asp-route-id="@product.Id">Details</a>
                    <a class="btn btn-danger btn-sm" asp-page="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-page="Create" method="get">
    <button type="submit" class="btn btn-success mt-3">Create New Product</button>
</form>
